body {
  font-family: Montserrat;
  background-color: #f0f8ff;
}

#form-reset {
  height: 100vh;
  font-size: 18px;
}

#form-reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: white;
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  width: 25rem;
  height: 35rem;
}

#form-reset:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

#form-reset h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00bfff;
}

#form-reset input:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
}

#form-reset input:focus {
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 191, 255, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

#form-reset input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0%;
  font-size: 18px;
}

#form-reset button {
  width: 10rem;
  padding: 10px;
  background-color: #00bfff;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#form-reset button:hover {
  background-color: #009acd;
}

@media (width < 768px) {
  #logo-column {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
  }

  #form-reset {
    margin-top: 20rem;
    margin-bottom: 15rem;
  }
}

#btns-reset-form {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}

#btns-reset-form button {
  width: 5rem;
}

#form-restablecer {
  display: flex;
  flex-direction: column;
}